<a href="https://colab.research.google.com/github/nyunu/BaekJoon/blob/main/%EC%9D%B4%EC%BD%94%ED%85%8C_%EC%8B%9C%EA%B0%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 내 풀이 : 수의 조합으로 풀이
  - 전체 경우의 수 - 3을 제외하고 시간이 구성될 경우의 수

In [25]:
n = int(input())
if n >= 3:
  print((6**2 * 10**2 * (n + 1)) - (5**2 * 9**2 * n))
elif n >= 13:
  print((6**2 * 10**2 * (n + 1)) - (5**2 * 9**2 * (n - 1)))
elif n >= 23:
  print((6**2 * 10**2 * (n + 1)) - (5**2 * 9**2 * (n - 2)))
else:
  print((6**2 * 10**2 * (n + 1)))

5
11475

- 책 풀이

In [26]:
n = int(input())

cnt = 0
for i in range(n + 1):
  for j in range(60):
    for k in range(60):
      if '3' in str(i) + str(j) + str(k):
        cnt += 1

print(cnt)

5
11475